greyColor = #43464b

body
  font-family sans-serif
  width 100%
  max-width 850px
  margin 1rem auto 0 auto
  
header
  h3
    text-align center
    color greyColor
    text-transform uppercase
  nav
    text-align center
    margin-bottom 2rem
    a
      width 10%
      color greyColor
      text-decoration none
      padding .5rem 1rem
    a:hover
      text-decoration none
      background-color greyColor
      color #f8f8f8
#greeting-pic {
  width 100%
}
.home-page-section
  color greyColor
  display flex
  .section-title
    width 25%
    text-align center
    padding 1rem
  .text-div
    width 75%
    padding 1rem

.grey 
  background-color #f8f8f8
  
.blog-pic
  width 50%
  margin auto 0