header 
  nav
    border 1 blue dotted
    text-align center
    a
      width: 10%
      color rgba(200,10,150, .5)
    a:hover
      text-decoration none
      background-color rgba(200,10,150, .5)
      color white
    a:focus
      background-color rgba(200,10,150, .125)